In [130]:
import streamlit as st
import pandas as pd
import json
import plotly.express as px
import plotly.graph_objects as go

with open('inventario_ganado.json',encoding = "utf8") as json_data: #Cargar Json 
    data = json.load(json_data)  
            
#Datos totales
vacuno = data["vacuno"]["Total"]  
porcino = data["porcino"]["Existencia(Mcabz)"]["Total"]
ovino_caprino = data["ovino_caprino"]["Existencia(Mcabz)"]["Total"]["Total"]
aves = data["aves"]["Existencia(Mcabz)"]["Existencia total de aves"]
equido = data["equido"]["Existencia(Mcabz)"]["Total"] 

#Datos Porcino Estatal
porcinoE = data["porcino"]["Existencia(Mcabz)"]["Estatal"]
porcinoNE = {}
            
#Datos Porcino No Estatal
for year in porcino:
    if porcino[year] != porcinoE[year]:
        porcinoNE[year] = round(float(porcino[year]) - float(porcinoE[year]), 1) 
            
#Datos Ovino Caprino Estatal
ovino_caprinoE = data["ovino_caprino"]["Existencia(Mcabz)"]["Estatal"]["Total"]
ovino_caprinoNE = {}
            
#Datos Ovino Caprino No Estatal
for year in ovino_caprino:
    if ovino_caprino[year] != "":
        ovino_caprinoNE[year] = round(float(ovino_caprino[year]) - float(ovino_caprinoE[year]), 1) 
            
#Datos Aves Estatal
avesE = data["aves"]["Existencia(Mcabz)"]["Empresas avicolas estatales"]["Existencia total de aves"]
avesNE = {}
                
#Datos Aves No Estatal
for year in aves:
    if aves[year] != avesE[year]:
        avesNE[year] = round(float(aves[year]) - float(avesE[year]),1)     
            
#Datos Equido Estatal y No Estatal
equidoE = data["equido"]["Existencia(Mcabz)"]["Estatal"]["Total"]
equidoNE = data["equido"]["Existencia(Mcabz)"]["No estatal"]["Total"]

#Dataframes Existencia
ganado_TOTAL = pd.DataFrame({
                "Vacuno": vacuno,
                "Porcino": porcino,
                "Ovino Caprino": ovino_caprino,
                "Aves": aves,
                "Equido": equido
                
            })   
ganado_TOTAL.iloc[:5, 2] = 0

      Vacuno  Porcino Ovino Caprino     Aves  Equido
1990  4802.6   1540.4         897.2  30208.1   633.1
1991  4735.5   1141.8         912.3  20428.0   637.4
1992  4609.3    657.5         766.2  17840.2   645.2
1993  4583.0   1022.1        1181.5  15252.4   646.4
1994  4617.1   1037.4        1142.1  14944.4   635.6
1995  4632.0   1063.8        1086.4  14002.8   620.8
1996  4601.1    994.1        1018.4  12330.8   603.8
1997  4606.0   1181.1        1730.1  30154.3   559.0
1998  4643.7   1421.8        1946.8  29259.6   464.0
1999  4405.8   1699.5        2537.2  28306.1   461.0
2000  4110.2   1633.0        3287.2  28345.5   444.8
2001  4038.4   1313.2        3282.5  26167.7   461.5
2002  3972.3   1554.5        3480.3  24177.0   468.0
2003  4025.4   1683.6        3530.7  23210.0   482.4
2004  3942.6   1593.4        3456.6  25032.5   494.8
2005  3703.7   1626.0        3400.5  27440.1   499.8
2006  3737.2   1760.8        3932.2  29847.6   512.9
2007  3787.4   1868.6        3779.2  29412.8   536.4
2008  3821.3   1878.6        3809.0  29200.8   564.9
2009  3892.8   1767.8        3694.3  30817.0   605.4
2010  3992.5   1591.0        3300.0  30950.0   646.1
2011  4059.1   1518.0        2970.0  33663.3   675.5
2012  4084.0   1545.1        2753.3  30182.0   715.7
2013  4092.2   1606.9        2660.6  32415.5   758.7
2014  4134.3   1655.1        2782.1  32285.8   810.3
2015  4045.9   1704.8        2734.6  31962.9   851.1
2016  4013.9   1929.9        2838.3  31336.2   898.6
2017  3865.5   2069.4        2724.9  25635.4   927.3
2018  3808.4   2289.1        2656.8  25614.0   954.9
2019  3817.3   2676.9        2188.2  35356.1   950.3
2020  3752.4   1120.7        2172.1  30245.1   960.2
2021  3657.3   1075.5        2149.8  29875.0   948.7
2022  3516.4   1456.2        2046.3  30154.7   947.3